.App {
  text-align: center;
}

div {
  border: 1px solid black;
}

.floor-plan {
  height: 100vh;
  width: 100%;
  text-align: center;

  display: grid;

  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
    "kitchen kitchen bath-full living-room living-room"
    "kitchen kitchen bath-full living-room living-room"
    "kitchen kitchen bath-full bath-half bath-half"
    "bedroom1 bedroom1 bedroom1 bedroom3 bedroom3"
    "bedroom2 bedroom2 bedroom2 bedroom3 bedroom3";
  gap: 0;
}

.kitchen {
  grid-area: kitchen;
  background-color: yellow;
}

.appliances {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  border: none;
}

.oven {
  background-color: purple;
  color: white;
  margin: 0.25rem;
}

.sink {
  transform: scale(50%);
  background-color: black;
  color: white;
}

.bath-full {
  grid-area: bath-full;
  background-color: lightblue;
}

.bath-half {
  grid-area: bath-half;
  background-color: lightblue;
}

.living-room {
  grid-area: living-room;
  background-color: green;
}

.bedroom1 {
  grid-area: bedroom1;
  background-color: orange;
}

.bedroom2 {
  grid-area: bedroom2;
  background-color: orange;
}
.bedroom3 {
  grid-area: bedroom3;
  background-color: orange;
}
